{% extends "page/checkout/payment.html.twig" %}

{% block select_payment %}
    {% if attribute(paymentmethod, 'isMolliePaymentMethod') is defined and paymentmethod.isMolliePaymentMethod() is same as(true) %}
        {% set paymentModel = paymentmethod.getMolliePaymentModel() %}
        {% if (attribute(oViewConf, 'mollieShowIcons') is defined and oViewConf.mollieShowIcons is same as(true))
            or (paymentModel and paymentModel.getCustomFrontendTemplate is not same as(false)) %}
            {% include "@molliepayment/frontend/mollie_payment_custom.html.twig" %}
        {% else %}
            {% include "page/checkout/inc/payment_other.html.twig" %}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block checkout_payment_errors %}
    {{ parent() }}

    {% if oView.getPaymentError() == -50 %}
        <div class="alert alert-danger">{{ oView.getPaymentErrorText() }}</div>
    {% endif %}
{% endblock %}